.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    padding: 5px;
    margin: -8px -8px 30px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: whitesmoke;
}

.index-details {
    width: fit-content;
    margin: 0 auto;
}

.index-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 5px;
}