<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" style="background-color: rgb(170, 159, 138);">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" id="username" href="/" style="color: #272125"></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a onclick="logout()" style="color: #272125"><img height="20px" width="20px" th:src="@{/exit.svg}" alt="За стеклом"> Logout</a></li>
          </ul>
        </div>
      </nav>
</header>
<main>
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-8" >
                <div class="step__content" >

                    <h4 class="step__title">
                        СДО БГТУ
                    </h4>
                    <div class="step__desc-wrapper">
                        <p class="step__description">
                            По вопросам работы с СДО и технической поддержки (смены пароля, регистрация или изменение учетных данных, др.) Вы можете обращаться:
                        <ul>
                            <li>по электронной почте dist@belstu.by</li>
                            <li>по телефону (+375 17) 373 72 65</li>
                            <li>в отдел дистанционных образовательных технологий, каб. 352, корп. 4.</li>
                        </ul>
                        </p>
                        <p class="step__description">
                            Для работы с системой дистанционного обучения у Вас должна быть создана учетная запись.
                            Регистрация студентов и преподавателей в системе дистанционного обучения
                            осуществляется отделом дистанционных образовательных технологий учебно-методического управления.
                        </p>
                    </div>
                </div>
            </div>
            <div id="user_info" class="col-4" >
                <div class="container">
                    <div id="spisok" class="row">
                        <div class="col-6">
                            <ul id="keys" class="list3b">

                            </ul>
                        </div>
                        <div class="col-6">
                            <ul id="values" class="list3b">

                            </ul>

                        </div>
                        <div id="buttt"></div>
                    </div>
                    </div>
                </div>

        </div>
</div>
</main>
</body>
</html>
