<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" style="background-color: rgb(170, 159, 138);">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" id="username" href="/" style="color: #272125"></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a onclick="logout()" style="color: #272125"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
</header>
<main>
    <div style="display: flex;justify-content: center">
        <div>
            <ul id="keys" class="list3b">

            </ul>
        </div>
        <div>
            <ul id="values" class="list3b">

            </ul>
        </div>
</div>
</main>
</body>
</html>
