<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/loginScript.js}"></script>
</head>
<body>

<div class="login">
    <h2>Login</h2>
    <input id="username" type="text" placeholder="Enter login" class="login__username"/>
    <input id="password" type="password" placeholder="Enter password" />
    <h3 id="result"></h3>
    <div class="login-actions">
        <button onclick="login()">Login</button>
    </div>
</div>
</body>
</html>