<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/registration.js}"></script>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="common-header">
    <a href="/">Home</a>
    <a onclick="logout()" style="display: flex;"><img height="20px" width="20px" th:src="@{/exit.svg}">Sign out</a>
</nav>
<div class="register">
    <div>
        <h3>Register</h3>
        <div>
            <div class="register__header">
                <div>
                    <input onclick="changeOnStudentForm()" type="radio" name="radioGroup" id="radio1" checked>
                    <label for="radio1">
                        Student
                    </label>
                    <input onclick="changeOnTeacherForm()"  type="radio" name="radioGroup" id="radio2">
                    <label for="radio2">
                        Teacher
                    </label>
                </div>
            </div>
            <div id="student-div" class="register-field-set" onclick="hideResult()">
                <div class="register-field-set-field">
                    <input id="username" type="text" placeholder="Enter login ">
                    <small id="smusername" class="register-field-set-field__error"></small>
                </div>
                <div class="register-field-set-field">
                    <input id="email" type="text" placeholder="Enter your E-mail">
                    <small id="smemail" class="register-field-set-field__error"></small>
                </div>
                <div class="register-field-set-field">
                    <input id="password" type="password" placeholder="Enter password">
                    <small id="smpassword" class="register-field-set-field__error"></small>
                </div>
                <div class="register-field-set-field">
                    <input id="submitPassword"  type="password" placeholder="Submit password">
                    <small id="smsubmitPassword" class="register-field-set-field__error"></small>
                </div>
                <div class="register-field-set-field">
                    <input id="firstName" type="text" placeholder="Enter firstName">
                    <small id="smfirstName" class="register-field-set-field__error"></small>
                </div>
                <div class="register-field-set-field">
                    <input id="lastName"  type="text" placeholder="Enter lastName">
                    <small id="smlastName" class="register-field-set-field__error"></small>
                </div>
                <div class="register-field-set-field">
                    <input id="middleName"  type="text" placeholder="Enter middleName">
                    <small id="smmiddleName" class="register-field-set-field__error"></small>
                </div>
                <select id="select-box1">
                </select>
                <input  id="userCourse" type="number" placeholder="Enter userCourse" value="1" min="1" max="6">
                <input  id="userGroup" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
                <button content="Register" onclick="Register()" type="submit" style="width: 100px">
                    Register
                </button>
            </div>
            <div id="teacher-div" style="height: 0; overflow: hidden" onclick="hideResult()">
                <input id="usernameTeacher"  type="text" placeholder="Enter login">
                <small id="smusernameTeacher" class="register-field-set-field__error"></small>

                <input id="passwordTeacher"  type="password" placeholder="Enter password">
                <small id="smpasswordTeacher" class="register-field-set-field__error"></small>

                <input id="submitPasswordTeacher"  type="password" placeholder="Submit password">
                <small id="smsubmitPasswordTeacher" class="register-field-set-field__error"></small>

                <input id="firstNameTeacher"  type="text" placeholder="Enter First Name">
                <small id="smfirstNameTeacher" class="register-field-set-field__error"></small>

                <input id="lastNameTeacher"  type="text" placeholder="Enter Surname">
                <small id="smlastNameTeacher" class="register-field-set-field__error"></small>

                <input id="middleNameTeacher"  type="text" placeholder="Enter Middle name">
                <small id="smmiddleNameTeacher" class="register-field-set-field__error"></small>

                <button content="Register" onclick="RegisterTeacher()" type="submit">
                    Register
                </button>
            </div>
        </div>
        <h2 id="res" style="text-align: center; color: coral"></h2>
    </div>
    <div>
        <h3>Add new subject</h3>
        <input id="addSubjectName" type="text" placeholder="Enter new Subject">
        <button content="Register"  onclick="addSubject()" type="submit">
            Add
        </button>

        <h3 style="margin-top: 20px">Delete subject</h3>
        <select id="select-box2" style="width: 100px">
        </select>
        <button content="Register"  onclick="deleteSubject()" type="submit">
            Delete
        </button>

        <h3 style="margin-top: 20px">Add new Faculty</h3>
        <input id="addFacultyName" type="text"  placeholder="Enter new Faculty">
        <button content="Register"  onclick="addFaculty()" type="submit">
            Add
        </button>

        <h3 style="margin-top: 20px">Assign a group to the teacher</h3>
        <select id="select-box3">
        </select>
        <input  id="Course" type="number" placeholder="Enter userCourse" value="1" min="1" max="6">
        <input  id="Group" type="number" placeholder="Enter userCourse" value="1" min="1" max="20">
        <select id="teachers" >
        </select>
        <select id="subjects">
        </select>
        <button content="Register" onclick="addTeacherToGroup()" type="submit">
            Assign
        </button>
    </div>
</div>

</body>
</html>