<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <script th:src="@{/js/registration.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
<div class="for">
    <h3 >Register</h3>
    <div id="wrapper">
        <div>
            <div class="form-check">
                <input onclick="changeOnStudentForm()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>

                <label class="form-check-label" for="exampleRadios1">
                    Student
                </label>
                <br/>
                <input onclick="changeOnTeacherForm()"  class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">

                <label class="form-check-label" for="exampleRadios2">
                    Teacher
                </label>
            </div>
            <div class="form-check">
            </div>
        </div>
        <div id="student-div">
            <input id="username" type="text" placeholder="Enter login">
            <small id="smusername" class="form-text text-muted"></small>
            <input id="email" type="text" placeholder="Enter your E-mail">
            <small id="smemail" class="form-text text-muted"></small>

            <input id="password" type="password" placeholder="Enter password">
            <small id="smpassword" class="form-text text-muted"></small>

            <input id="firstName" type="text" placeholder="Enter firstName">
            <small id="smfirstName" class="form-text text-muted"></small>

            <input id="lastName" type="text" placeholder="Enter lastName">
            <small id="smlastName" class="form-text text-muted"></small>

            <input id="middleName" type="text" placeholder="Enter middleName">
            <small id="smmiddleName" class="form-text text-muted"></small>

            <select id="select-box1" style="margin-top: 20px; margin-bottom: 10px" class="form-control">
            </select>
            <input  id="userCourse" type="number" placeholder="Enter userCourse" value="1" min="1" max="6">
            <input style="margin-top: 20px; margin-bottom: 10px"  id="userGroup" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
            <input id="submitPassword" type="password" placeholder="Submit password">
            <small id="smsubmitPassword" class="form-text text-muted"></small>
            <button content="Register"  onclick="Register()" type="submit">
                Register
            </button>
        </div>
        <div id="teacher-div" style="display: none">
            <input id="usernameTeacher" type="text" placeholder="Enter login">
            <small id="smusernameTeacher" class="form-text text-muted"></small>

            <input id="passwordTeacher" type="password" placeholder="Enter password">
            <small id="smpasswordTeacher" class="form-text text-muted"></small>

            <input id="firstNameTeacher" type="text" placeholder="Enter firstName">
            <small id="smfirstNameTeacher" class="form-text text-muted"></small>

            <input id="lastNameTeacher" type="text" placeholder="Enter lastName">
            <small id="smlastNameTeacher" class="form-text text-muted"></small>

            <input id="middleNameTeacher" type="text" placeholder="Enter middleName">
            <small id="smmiddleNameTeacher" class="form-text text-muted"></small>

            <input id="subjectTeacher" type="text" placeholder="Enter middleName">
            <small id="smsubjectTeacher" class="form-text text-muted"></small>

            <input id="submitPasswordTeacher" type="password" placeholder="Submit password">
            <small id="smsubmitPasswordTeacher" class="form-text text-muted"></small>

            <button content="Register"  onclick="RegisterTeacher()" type="submit">
                Register2
            </button>
        </div>
    </div>
    <h1 id="res" style="text-align:  center"></h1>
</div>
</body>
</html>