<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/registration.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="for">
    <h3 >Register</h3>
    <div id="wrapper">
        <div>
            <div class="form-check">
                <input onclick="changeOnStudentForm()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>

                <label class="form-check-label" for="exampleRadios1">
                    Student
                </label>
                <br/>
                <input onclick="changeOnTeacherForm()"  class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">

                <label class="form-check-label" for="exampleRadios2">
                    Teacher
                </label>
            </div>
            <div class="form-check">
            </div>
        </div>
        <div id="student-div" onclick="hide_result()">
            <input id="username" type="text" class="white" placeholder="Enter login ">
            <small id="smusername" class="form-text text-muted red"></small>
            <input id="email" type="text" class="white" placeholder="Enter your E-mail">
            <small id="smemail" class="form-text text-muted red"></small>

            <input id="password" class="white" type="password" placeholder="Enter password">
            <small id="smpassword" class="form-text text-muted red"></small>

            <input id="firstName" class="white" type="text" placeholder="Enter firstName">
            <small id="smfirstName" class="form-text text-muted red"></small>

            <input id="lastName" class="white" type="text" placeholder="Enter lastName">
            <small id="smlastName" class="form-text text-muted red"></small>

            <input id="middleName" class="white" type="text" placeholder="Enter middleName">
            <small id="smmiddleName" class="form-text text-muted red"></small>

            <select id="select-box1"  style="margin-top: 20px; margin-bottom: 10px; background-color: rgba(255,255,255,.2); color: white;" class="form-control">
            </select>
            <input  id="userCourse" type="number" placeholder="Enter userCourse" value="1" min="1" max="6">
            <input style="margin-top: 20px; margin-bottom: 10px"  id="userGroup" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
            <input id="submitPassword" class="white" type="password" placeholder="Submit password">
            <small id="smsubmitPassword" class="form-text text-muted red"></small>
            <button content="Register"  onclick="Register()" type="submit">
                Register
            </button>
        </div>
        <div id="teacher-div" style="display: none" onclick="hide_result()">
            <input id="usernameTeacher" class="white" type="text" placeholder="Enter login">
            <small id="smusernameTeacher" class="form-text text-muted red"></small>

            <input id="passwordTeacher" class="white" type="password" placeholder="Enter password">
            <small id="smpasswordTeacher" class="form-text text-muted red"></small>

            <input id="firstNameTeacher" class="white" type="text" placeholder="Enter First Name">
            <small id="smfirstNameTeacher" class="form-text text-muted red"></small>

            <input id="lastNameTeacher" class="white" type="text" placeholder="Enter Surname">
            <small id="smlastNameTeacher" class="form-text text-muted red"></small>

            <input id="middleNameTeacher" class="white" type="text" placeholder="Enter Middle name">
            <small id="smmiddleNameTeacher" class="form-text text-muted red"></small>

            <input id="submitPasswordTeacher" class="white" type="password" placeholder="Submit password">
            <small id="smsubmitPasswordTeacher" class="form-text text-muted red"></small>

            <button content="Register"  onclick="RegisterTeacher()" type="submit">
                Register2
            </button>
        </div>
    </div>
    <h1 id="res" style="text-align:  center"></h1>
</div>
</body>
</html>