<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List</title>
</head>
<body>
<h1>Subjects List</h1>
<div class="container">
    <table class ="container" border="1">
        <tr>
            <th><h1>mName</h1></th>
            <th><h1>Name</h1></th>
        </tr>
        <tr th:each ="album : ${albums}">
            <td th:utext="${album.studentMiddleName}">...</td>
            <td th:utext="${album.studentName}">...</td>
        </tr>
    </table>
</div>
</body>
</html>