<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/teacherScript.js}"></script>
</head>
<body>
<nav class="common-header">
    <a id="username" href="/"></a>
    <a onclick="logout()" style="display: flex;"><img height="20px" width="20px" th:src="@{/exit.svg}">Sign out</a>
</nav>
<main>
    <h2>Set mark</h2>
    <div>
        <select id="faculties">
        </select>
        <select id="subjects">
        </select>
        <input id="userGroup" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
        <input id="userCourse" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
        <button onclick="setStudents()" type="submit">
            Show
        </button>
    </div>
    <h4 id="subj">(select students)</h4>
    <div class="vertical-container" style="width: 20%">
        <select id="students">
        </select>
        <input id="mark" type="number" placeholder="Enter mark" value="1" min="1" max="20">
        <input id="description"  type="text" placeholder="Enter description">
        <button onclick="rate()" type="submit">
            give a rating
        </button>
        <div id="res" style="color: darkgoldenrod"></div>
    </div>
    <h2>Get marks</h2>
    <div style="width: 20%;margin-top: 10px;display: flex">
        <select id="students2">
        </select>
        <button content="Register" style="margin-left: 10px;" onclick="getMarks()" type="submit">
            Show
        </button>
    </div>
    <div id="content" style="min-height: 100px">
    </div>
    <div style="width: 20%;display: flex">
        <button id="previous" class="page-link" onclick="prev()" style="margin-right: 5px">Previous</button>
        <button id="next" class="page-link" onclick="next()">Next</button>
    </div>
</main>
</body>
</html>