<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/teacherScript.js}"></script>
</head>
<body>
<nav class="common-header">
    <a id="username" href="/"></a>
    <a onclick="logout()" style="display: flex;"><img height="20px" width="20px" th:src="@{/exit.svg}">Sign out</a>
</nav>
<main>
    <div>
        <select id="faculties">
        </select>
        <select id="subjects">
        </select>
        <input id="userGroup" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
        <input id="userCourse" type="number" placeholder="Enter userGroup" value="1" min="1" max="20">
        <button onclick="setStudents()" type="submit">
            Show
        </button>
    </div>
    <h4 id="subj">(select students)</h4>
    <div class="vertical-container" style="width: 20%">
        <select id="students">
        </select>
        <input id="mark" type="number" placeholder="Enter mark" value="1" min="1" max="20">
        <input id="description"  type="text" placeholder="Enter description">
        <button onclick="rate()" type="submit">
            give a rating
        </button>
        <div id="res" style="color: darkgoldenrod"></div>
    </div>
</main>
</body>
</html>